extends layout

block content

  .h1
    | About Us

  .p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula tortor, viverra interdum nunc et, maximus vulputate eros. Cras fringilla ante eget quam dictum, id accumsan quam dignissim. Integer vitae scelerisque mauris. Maecenas malesuada sollicitudin lacus, sed tincidunt diam gravida ac. Pellentesque ultricies accumsan turpis id varius. Donec congue urna vitae bibendum eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ut sodales ipsum, in cursus odio. Aenean mattis ullamcorper arcu, nec ornare neque auctor quis.

  br
  .p
    | Vestibulum lectus felis, ultrices sed lacus non, porttitor convallis augue. Phasellus sem quam, tempor eu neque ut, fringilla accumsan ligula. Praesent ut mi quam. Nunc quis elementum eros. Nullam tristique, erat at viverra consequat, lorem ante aliquam sem, at blandit mi purus et magna. Nullam congue auctor lorem. Sed ultrices fermentum leo quis pharetra. Vestibulum venenatis velit ut nulla feugiat, a cursus dolor elementum.
