- var HOMEPAGE = false;
block variables

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/bootstrap.js')
  body
    include ./includes/menubar.jade

    if HOMEPAGE
      include ./includes/jumbotron.jade

    .container
      block content

      hr
      footer
        p © 2015 Company, Inc.
